# Dependencies
node_modules
.pnp
.pnp.js
.npmrc

# Testing
coverage
*.lcov
.nyc_output

# Build outputs
dist
build
storybook-static

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env*.local

# Vite
.vite

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# Misc
.cache
.turbo
*.tmp
*.temp